/AdminManager.class
/BookingManager.class
/CinemaOperator.class
/CustomerManager.class
/DataManager.class
/LoginManager.class
/Presenter.class
/PurchaseNOrder.class
/Query.class
/ReviewManager.class
/package-info.class
